/*Variables*/

$font-text: 'Source Code Pro', monospace;
$font-header: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semiBold: 550;
$font-bold: 600;
$font-boldItalic: 700;

$section-title-color: #fcba40;

